/* src/App.css */

.App {
  font-family: Arial, sans-serif; /* You can change this to your preferred font */
  background-color: black; /* Set the background color to black */
  color: white; /* Default text color to white for contrast */
  min-height: 100vh; /* Ensure full height of the viewport */
}

/* You can add more styles here for global elements like buttons, links, etc. */
h1, h2, h3, h4, h5, h6 {
  color: #ffdd57; /* Use the secondary color for headings */
}

a {
  color: #ffdd57; /* Use the secondary color for links */
  text-decoration: none; /* Remove underline from links */
}

a:hover {
  color: red; /* Change link color on hover for better visibility */
}
